
/*
#ffff
#faefbe
#f47724
#8fc548
#0b382b
*/

body {
  font-family: Arial, sans-serif;
  background-color: #f9f8f3;
  margin: 0;
}

::selection {
  color: #0b382b;
  background: #8fc548;
}

.main-title {
  text-align: center;
  font-size: 50px;
  padding: 10px;
  margin: 50px auto 30px auto;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  border-radius: 25px;
}

.card {
  background-color: #ffff;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 3px 3px 10px 0px rgb(0 0 0 / 5%), 0 6px 20px 0 rgb(0 0 0 / 5%);
  margin: 25px;
  width: 400px;
  min-width: 350px;
}

.card img {
  border-radius: 100%;
  display: block;
  width: 250px;
  margin: -100px auto 0;
  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.3));
}

.card-title { 
  color: black;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin: 30px auto;
}

card a{
  text-decoration: none;
}

.vid {
  display: block;
  padding-left: 40px;
}

.card-footer {
  display: flex;
  /* the big space in the middle */
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #e4e4e4;
}

.likes {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: bold;
}

.like-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #333;
  display: flex;
  transition: color 0.2s;
}

.controls {
  display: flex;
  gap: 10px;
}

.delete-btn,
.edit-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  padding: 8px;
  margin-left: 8px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.size-6 {
  width: 24px;
  height: 24px;
  stroke-width: 2px; /* Making icons slightly bolder looks better with this style */
}

.edit-btn {
  background-color: rgba(234, 179, 8, 0.1);
  color: #eab308;
}

.edit-btn:hover {
  background-color: #eab308;
  color: #ffffff;
  transform: translateY(-2px); /* jumps up */
}

.delete-btn{
  background-color: rgba(246, 62, 26, 0.1);
  color: #f63e1a;
}

.delete-btn:hover {
  background-color: #f63e1a;
  color: #ffffff;  
  transform: translateY(-2px); /* jump up */
}

.action-bar {
  display: flex;
  justify-content: flex-end; 
  padding: 0 40px;
  margin-bottom: 80px;
}

.add-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  background-color: #f47724;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(143, 197, 72, 0.2); 
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.add-btn:hover {
  background-color: #f2904f;
  transform: translateY(-2px); 
  box-shadow: 0 6px 15px rgba(11, 56, 43, 0.2);
}

.icon-lg {
  width: 35px;
  height: 35px;
  stroke-width: 2.5px;
}

.Secondary-title {
  color: #f47724;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.salad-img {
  transition: transform 4s ease;
}

/* ==== ADD & Edit === */

.AD {
  background: #f9f8f3;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.form-card {
  width: 90%;
  padding: 25px;
  border-radius: 16px;
}

h1 {
  text-align: center;
  /*color: #f47724;*/
}


h2 {
  margin-top: 20px;
  /*color: #f47724;*/

  margin-bottom: 10px; 
  font-size: 2rem; 
}

label{
  color: #f47724;
  font-weight: bold;
	
}

.form-group {
  margin-bottom: 12px;
}

input, textarea{
    width: 95%;
    padding: 10px;
    margin: 6px 0 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

select{
	width: 97%;
    padding: 10px;
    margin: 6px 0 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

textarea {
  height: 80px;
}

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.small-btn {
  background: #e8eddc;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: #5f6f3a;
  margin-bottom: 10px;
}

.small-btn:hover {
  background: #dfe6cc;
}

.main-btn {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-weight: bold;
  background-color: #8fc548;
  color: #0b382b;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

.main-btn:hover {
  background-color: #0b382b;
  color: #ffffff;
  transform: translateY(-2px); 
  box-shadow: 0 6px 15px rgba(11, 56, 43, 0.2);
}


/* ====  END === ADD & Edit === */




/* ==== shahd === */

.split-container { 
	display: flex; 
	height: 100vh; 
}

.left-side { 
	flex: 1; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	padding: 20px; 
}

.right-side { 
	flex: 1; 
	background: url('images/salad.avif') center/cover no-repeat; 
}

.content-box { 
	width: 100%; 
	max-width: 350px; 
}

.app-name { font-size: 3rem; color: #0b382b; margin: 10px 0 30px; font-weight: bold; }

.logo { height: 280px; }

.signup-text { margin-top: 30px; font-size: 0.9rem; color: #666; text-align: center; }

.signup-link { color: #f47724; font-weight: bold; text-decoration: none; } /*ما اعجبني لونه*/


.input-field, .file-input {
    width: 100%;
    padding: 15px 25px;
    margin-bottom: 20px;
    border-radius: 50px;
    border: 1px solid #f0f0f0;
	background-color: #fcfcfc;
    outline: none;
    transition: 0.3s;
}

.input-field:focus { border-color: #8fc548; box-shadow: 0 0 8px rgba(255, 204, 0, 0.2); }


.dark-btn {
    display: block; 
	width: 100%; 
	padding: 15px; 
	border-radius: 50px;
    font-weight: bold; 
	font-size: 1.3rem; 
	border: none; 
	cursor: pointer;
    text-align: center; 
	text-decoration: none; 
	transition: 0.3s;
  background: #0b382b; 
  color: white;
	margin-top: 10px;
}

.dark-btn:hover {
  background: #8fc548;
  color: #0b382b;
}

.admin-btn { background: #8fc548; color: #0b382b; }

.admin-btn:hover { background: #0b382b; color: white; }


.profile-upload { margin: 20px 0; text-align: left; }

.profile-upload label { display: block; font-size: 0.9rem; margin: 0 0 8px 15px; color: #0b382b; font-weight: bold; }

.file-input { padding: 10px; background: #f9f9f9; border: 1px dashed #ccc; }


/* ==== View Recipes -Amal- === */

/* HERO (Top Dark Green) */
.hero{
  position: relative;
  background-color: #0b382b;
  height: 320px;
  padding: 0px 8%;
}

.hero-inner{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.hero-left{
  position: relative;
  top: 140px;
  left: 40px;
}

.recipe-title{
  margin: 0 10 14px 0;
  color: white;
  font-size: 35px;
  letter-spacing: .9px;
}

.creator{
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
  font-size: 18px;
}

.avatar{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
}

.avatar.small{
  width: 40px;
  height: 40px;
  border-color: rgba(11,56,43,0.25);
}

.hero-actions{
  display: flex;
  gap: 10px;
  margin-top: -250px;
  align-items: center;
}

.icon-btn{
  width: 44px;
  height: 44px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 12px;
  color: #f47724;
  border: 2px solid #f47724;
  background: transparent;
  font-size: 18px;
  transition: transform .15s ease, background .15s ease;
}

.icon{
 stroke:#f47724;
 transition: stroke 0.25s ease; 
}

.icon-btn:hover {
  stroke: #f47724;
  fill: #f47724;
  transform: translateY(-2px); /* jumps up */
}

.icon:hover{
  fill: #f47724;
}

/* Circular image */
.recipe-circle{
  position: absolute;
  right: 10%;
  bottom: -140px;        
  bottom: -140px;        
  width: 440px;
  height: 440px;
  border-radius: 100%;
  overflow: hidden;
  border: 10px solid rgba(255,255,255,0.80);
  box-shadow: 0 16px 35px rgba(0,0,0,0.20);
  background: rgba(255,255,255,0.10);
}

.recipe-circle img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: saturate(1.06) contrast(1.03);
}

.content{
  padding: 150px 8% 40px; 
  max-width: 1100px;
  margin: 0 auto;
}

.card-content{
  background: rgba(255,255,255,0.75);
  border-radius: 16px;
  padding: 18px 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  margin-bottom: 16px;
  position: relative;
}

.card-content::before{
  content:"";
  position:absolute;
  left:0;
  top:14px;
  bottom:14px;
  width:6px;
  border-radius: 6px;
  background: #f47724;
}

.card-content h3{
  margin: 0 0 12px 0;
  font-size: 20px;
}

.list{
  margin: 0;
  padding-left: 18px;
  line-height: 1.8;
}

/* COMMENTS */
.comment-form{
  display: flex;
  gap: 10px;
  margin-bottom: 14px;
}

.comment-form input{
  flex: 1;
  padding: 11px 12px;
  border-radius: 12px;
  border: 1px solid grey;
  outline: none;
  background: #f9f8f3;
}

.comment-form button{
  width: 130px;
  height:50px;
  border-radius: 12px;
  border: 0;
  background: #0b382b;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.comment-form button:hover{
  background: #8fc548;
  color: #0b382b;
  font-weight: 700;
}

.comment{
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 12px;
  border-radius: 14px;
  background: #f9f8f3;
  margin-bottom: 10px;
}
/* ==== END  View Recipes -Amal- === */