
/*
#ffff
#faefbe
#f47724
#8fc548
#0b382b
*/

body {
  font-family: Arial, sans-serif;
  background-color: #f9f8f3;
}

::selection {
  color: #0b382b;
  background: #8fc548;
}

.main-title {
  text-align: center;
  font-size: 50px;
  padding: 10px;
  margin: 25px auto 50px auto;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  border-radius: 25px;
}

.card {
  background-color: #ffff;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 3px 3px 10px 0px rgb(0 0 0 / 5%), 0 6px 20px 0 rgb(0 0 0 / 5%);
  margin: 25px;
  width: 400px;
  min-width: 350px;
}

.card img {
  display: block;
  width: 250px;
  margin: -100px auto 0;
  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.3));
}


.card-footer {
  display: flex;
  /* the big space in the middle */
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #eee;
}

.likes {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: bold;
}

.like-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #333;
  display: flex;
  transition: color 0.2s;
}

.controls {
  display: flex;
  gap: 10px;
}

.delete-btn,
.edit-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 8px;
  margin-left: 8px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.size-6 {
  width: 24px;
  height: 24px;
  stroke-width: 2px; /* Making icons slightly bolder looks better with this style */
}

.edit-btn {
  background-color: rgba(234, 179, 8, 0.1);
  color: #eab308;
}

.edit-btn:hover {
  background-color: #eab308;
  color: #ffffff;
  transform: translateY(-2px); /* jumps up */
}

.delete-btn{
  background-color: rgba(246, 62, 26, 0.1);
  color: #f63e1a;
}

.delete-btn:hover {
  background-color: #f63e1a;
  color: #ffffff;  
  transform: translateY(-2px); /* jump up */
}

/* ==== ADD & Edit === */

.AD {
  background: #0b382be8;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.form-card {
  background: #ffff;
  width: 100%;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #f47724;
}

h2 {
  margin-top: 20px;
  color: #f47724;
}

label{
  color: #f47724;
	
}

.form-group {
  margin-bottom: 12px;
}

input, textarea{
    width: 95%;
    padding: 10px;
    margin: 6px 0 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

select{
	width: 97%;
    padding: 10px;
    margin: 6px 0 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

textarea {
  height: 80px;
}

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.small-btn {
  background: #e8eddc;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: #5f6f3a;
  margin-bottom: 10px;
}

.small-btn:hover {
  background: #dfe6cc;
}

.main-btn {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: #7b8f45;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

.main-btn:hover {
  background: #6a7d3c;
}

/* ====  END === ADD & Edit === */

